* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
  font-family: "Amatic";
  src: url("https://cdn.chandi.it/c/fonts/AmaticSC-Regular.ttf");
}


/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #aaa;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #888;
}
ul.mspace li {
  margin-bottom: 0.4em;
}
li ul {
  list-style: none;
  padding: 0;
}
li li {
  padding-left: 1.3em;
}
li li:before  {
  content: "\f0da"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
/*li li:before {
  content: "\f105"
}*/

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em 4em;
}
.l-box-small {
    padding: 2em 20%;
}

.is-center {
    text-align: center;
}

.borderBottom {
  border-bottom: 1px solid rgba(0,0,0,0.1);

}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background-image: url('images/header.jpg');
    background-size: auto 100%;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    font-size: 40px;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 65px;
    font-weight: bold;
    color: white;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    margin-bottom: 0;
    font-family: "Amatic"
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    /*letter-spacing: 0.2em;*/
    opacity: 0.7;
    margin-top: 0;
    font-size: 0.9em;
    font-family: "Amatic"
}
.subheader {
  font-size: 1.5em;
  font-style: italic;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 1.8em;
  width: 65%;
  max-width: 24em;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    /*text-transform: uppercase;*/
    letter-spacing: 0.1em;
    margin: 2em 0 0 0;
    background-color: #108a8a;
    font-family: "Amatic";
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    padding: 0.4em 2em;
    display: inline-block;
    /*float: right;*/
}

.l-box-lrg {
  border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
/*.content-head.right {

  margin-right: -1em;
}*/
/*.content-head::before {
  content: ' ';
  height: 3em;
  width: 100%;
}*/

/* This is a modifier class used when the content-head is inside a ribbon */
/*.content-head-ribbon {
    color: white;
}*/

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #f5f5f5;
    color: #aaa;
}

.bgImage {
  /*background-image: url('map.png');*/
  background-size:  auto 100%;
  min-height: 330px;
}
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }



    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 70%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}
.team {
  text-align: center;
}
.team img {
  border-radius: 50%;
  height: 10em;
  margin: 0 1em;
}
.team .pure-g > div > * {
  letter-spacing: 0;
}
.team h3, .team h4 {
  margin-bottom: 0;
  margin-top: 0;
}
.team quote {
  font-style: italic;
  /*opacity: 0.6;*/
}
.team quote::before {
  content: '„';
}
.team quote::after {
  content: '“';
}

.team .pure-g > div {
  margin-bottom: 2em;
}

.baro {
  margin: 2em 5em;
  height: 0.5em;
  background-color: #ccc;
  position: relative;
  font-size: 1.3em;
  color: #aaa;
}
.baro::before {
  content: ' ';
  position: absolute;
  right: 0;
  top: -0.5em;
  height: 1em;
  border-left: 1px solid #000;
}
.baro .fill {
  background-color: #108a8a;
  height: 0.5em;
  position: relative;
}
.baro .fill::before {
  content: ' ';
  position: absolute;
  left: 0;
  height: 1em;
  top: -0.5em;
  border-left: 1px solid #888;
}
.baro .fill::after {
  content: ' ';
  position: absolute;
  right: 0;
  height: 1em;
  border-left: 1px solid #888;
}
.baro .current {
  position: absolute;
  top: 0;
  margin-top: 1em;
  margin-left: -2em;
}
.baro .start {
  position: absolute;
  top: -2em;
  left: -0.3em;
}
.baro .limit {
  position: absolute;
  top: -2em;
  right: -2em;
}

.baroDetails {
  text-align: center;
  font-size: 1.2em;
  margin: 2em 23%;
  color: #aaa;
}
.baroDetails i {
  font-size: 3em;
}

.button {
  background-color: #ddd;
  padding: 1em;
  border-radius: 50%;
  color: white;
  margin-right: 1em;
  line-height: 4em;
}
.button:hover {
  background-color: #ccc;
}
.button i {
  display: inline-block;
  height: 1em;
  width: 1em;
}
ul.icons {
  list-style: none;
}
ul.icons > li > i.fa {
  display: block;
  position: absolute;
  margin-left: -1.5em;
  margin-top: 0.3em;
  font-size: 0.9em;
}


.greensta {
  padding: 2em 0;
  text-align: center;
  border-top: 1px solid #ddd;

}

label {
  display: block;
  line-height: 1em;
  margin-bottom: 0.8em;
}

textarea {
  width: 80%;
  height: 8em;
}
button {
  background-color: #fff;
  border: 1px solid #aaa;
}

a {
  color: #aaa;
}
a:hover {
  color: #555;
}
